name: Projeto Deploy no Render

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

env: 
    NODE_VERSION: '18.x'

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    
    services:
      mongodb:
        image: mongo:5.0
        ports:
          - 27017:27017
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'
        cache-dependency-path: './backend/package-lock.json'
    
    - name: Install Back-end dependencies
      run: cd backend
          npm install
    
    - name: Build project
      run: npm run build
    
    - name: Run tests
      run: npm test
      env:
        MONGO_URL: mongodb://localhost:27017/ghactions_render
        JWT_SECRET: 'aprofunda_projeto5_ghactions_render'
        NODE_ENV: test

  deploy:
    name: Deploy to Render
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    
    steps:
    - name: Deploy to Render
      uses: johnbeynon/render-deploy-action@v0.0.8
      # with:
      #   service-id: ${{ secrets.RENDER_SERVICE_ID }}
      #   api-key: ${{ secrets.RENDER_API_KEY }}